/* https://coolors.co/35524a-4056f4-eeebd3-b36a5e-f7c548 */

/* https://coolors.co/9f2771-f54076-eeebd3-b36a5e-f7c548 */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

header#intro {
    background-color: #9f2771;
}

footer {
    background-color: #9f2771;
}

btn {
    background-color: #9f2771;
}

.grid-item {
    width: calc(33% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
